{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}MapNeuro{% endblock %}

{% block main %}

<div class="main-body">
	<header class="header">
	    <div class="text-box">
	        <h1 class="heading-primary">
	            <span class="heading-primary-main">map</span>
	            <span class="heading-primary-sub">neurosciences</span>
	        </h1>
	    </div>
	</header>
</div>

{% endblock %}
{% block script %}

{% endblock %}