{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}

{% block title %}MapNeuro{% endblock %}

{% block main %}
<div class='container'>

    <div class='upload-box'>
        <form id='upload-form' action="/upload" method="POST" enctype="multipart/form-data">
            <h1>Upload Your Image</h1>
            {% if error_message %}
                <div color='red'>{{error_message}}</div>
            {% endif %}
            <p>Accepted formats: .nii, .nii.gz, .dcm</p>
            <br>
            <br>
            <input type="file" class="file-btn" name="user_file" required>
            <br></br>
            <input class="upload-btn" type="submit" value="Upload" onclick="loading()"></button>
        </form>
        <div id="upload-loading" style="display:none;">
            <p>Uploading...</p>
            <div class="loader">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
{% block script %}
<script>
$(document).ready(function($) {
    $('#upload-form').on('submit', function(evt) {
        $('#upload-form').hide();
        $('#upload-loading').show();
    });
});
</script>

{% endblock %}
